.config/fish/functions/quote.txt
.config/fish/fishd.LOVELY
.config/fish/fish_history
*.swp
osp*
*.pyc
fishd*
.DS_STORE
.netrwhist
nimcache/
rng
fish_variables
scripts/nohup.out
bass.fish
nvm.fish
fisher.fish
__bass.py
completions/
.config/fish/conf.d
.config/fish/fish_plugins
packer_compiled.lua
10gen.lua
