[user]
	email = pryfisi@gmail.com
	name = Paster
[core]
    editor = nvim
[commit]
    gpgSing = true
[url "git@github.com"]
    insteadOf = https://github.com/
[alias]
    s = status
    b = branch -l
    res = remote -v
